# Deploy Switchswap

name: CI

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get Tag Version
        id: getTag
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Print Version
        run: echo ${{ steps.getTag.outputs.tag }}

      - name: IPFS Pinata deploy
        if: ${{ steps.getTag.outputs.tag != 'main' }}
        id: pinIpfs
        uses: anantaramdas/ipfs-pinata-deploy-action@v1.6.3
        with:
          pin-name: Switchswap Interface Prod ${{ steps.getTag.outputs.tag }}
          path: "./build"
          pinata-api-key: ${{ secrets.PINATA_API_KEY }}
          pinata-secret-api-key: ${{ secrets.PINATA_API_SECRET_KEY }}

      - name: Pin to Crust - Get Hash
        id: pinIpfsCrust
        if: ${{ steps.getTag.outputs.tag != 'main' }}
        uses: switchswapbox/ipfs-crust-action@v2.0.7
        continue-on-error: true
        timeout-minutes: 2
        with:
          cid: ${{ steps.pinIpfs.outputs.hash }}
          size: 200000000
          seeds: ${{ secrets.CRUST_SEEDS }}

      - name: Print txHash
        run: echo ${{ steps.pinIpfsCrust.outputs.txHash }}

      - name: Update DNSLink
        env:
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          RECORD_DOMAIN: "switchswap.io"
          RECORD_NAME: "_dnslink"
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
        id: dnslink
        uses: textileio/cloudflare-update-dnslink@master
        with:
          cid: ${{ steps.pinIpfs.outputs.hash }}

      - name: Create GitHub Release
        if: ${{ steps.getTag.outputs.tag != 'main' }}
        id: create_release
        uses: actions/create-release@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.getTag.outputs.tag }}
          release_name: Release ${{ steps.getTag.outputs.tag }}
          body: |
            IPFS hash of the deployment:
            - CID: `${{ steps.pinIpfs.outputs.hash }}`
            The latest release is always accessible via our alias to the Cloudflare IPFS gateway at [switchswap.io](https://switchswap.io).

            You can also access SwitchSwap directly from an IPFS gateway.
            IPFS gateways:
            - https://ipfs.io/ipfs/${{ steps.pinIpfs.outputs.hash }}/
            - https://gateway.pinata.cloud/ipfs/${{ steps.pinIpfs.outputs.hash }}/
            - https://ipfs.infura.io/ipfs/${{ steps.pinIpfs.outputs.hash }}/

            Visit the [IPFS Gateway Checker](https://ipfs.github.io/public-gateway-checker/) for a complete list of gateways available.
